* {
    box-sizing: border-box;
}

img {
    float:left;
    width:50%;
    height:540px;
    position: relative;
    border:5px dotted yellow;
}

h1 {
    color:yellow;
    padding-top:20px;
    padding-bottom:20px;
    background: orangered;
    text-align: center;
    border:5px dashed;
    font-family: 'Roboto Condensed', sans-serif;
}
h2 { 
    color:orangered;
    background: yellow;
    padding-bottom:20px;
    padding-top: 20px;
    text-align: center;
    border: 5px dashed;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;

}

body {
    background: goldenrod;
}

.right {
    float:left;
    width:50%;
    font-size: 36px;
    position: relative;
    top:14%;
    color:brown;
    border:5px dotted red;
    overflow:auto;
}

.clr {
    clear: both;
    padding-top:20px;
    font-size:24px;
    color:beige;
    text-align: justify;
    font-family: 'Gotu', sans-serif;
}

footer {
    clear: both;
    padding-top:20px;
    font-size:22px;
    color:brown;
    background: orangered;
    text-align: center;
    padding-bottom: 20px;
    border:3px dashed yellow;
}

a{
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-decoration-style: double;
    font-family: fantasy;
}